/*navigation bar*/

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #F5F5DC;
    display: flex;
    justify-content: space-between; /* aligns logo and nav items */
    align-items: right; /* centers vertically */
    padding: 20px;
}

nav{
    margin-left: auto; /* aligns nav to the right */
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    list-style: none; /* removes bullet points */
}

nav a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #f1efeb; 
}

nav a::before{
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    width: 0%;
    background-color:#84714B;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width:100%
}